<link rel="stylesheet" href="{{ 'announcement-bar-new.min.css' | asset_url }}" type="text/css" />
 
<section class="announcement-bar-new-section section-{{ section.id }}">
  {% if section.settings.heading != blank %}
    <div class="announcement-bar-new">
        <p class="announcement-bar-new__text">{{ section.settings.heading }}</p>
    </div> 
  {% endif %}
</section>
{%- style -%}
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  
    @media screen and (min-width: 767px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
{% schema %}
    { 
      "name": "Announcement-bar-new",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
        },
        {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
        },
        {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top_mobile",
        "default": 0
        },
        {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom_mobile",
        "default": 0
        }

        ],
      "presets": [
        {
          "name": "Announcement-bar-new",
          "category": "Custom sections"
        }
      ]
    } 
    {% endschema %}