<link rel="stylesheet" href="{{ 'collection.min.css' | asset_url }}" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<section class="collection-section section-{{ section.id }}">
  <div class="collection_main">
    <div class="container">
      <div class="collection__header">
        <div class="collection__header-title Mobile_H3 mobile">{{ section.settings.header-title }}</div>
        <h3 class="collection__header-title desktop">{{ section.settings.header-title }}</h3>
        <a href="{{ collections[section.settings.collection].url }}" class="p2 collection__header-subtitle">
          View All
        </a>
      </div> 
      <div class="collection swiper-container"> 
        <div class="collection__wrapper swiper-wrapper">
          {% for product in collections[section.settings.collection].products %}
            <div class="swiper-slide collection__slide {% if product.variants.first.inventory_quantity <= 0 %}opacity_05{% endif %}">
              <a href="{{ product.url }}" class="collection__slide-link"> 
                <div class="collection__slide-wrapper">
                  {{ product.featured_image | image_url: width: 3840 | image_tag:
                      width: product.featured_image.width,
                      height: product.featured_image.height,
                      class: 'collection__bg',
                      sizes: '100vw',
                      alt: product.title,
                      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' }}
                  <div class="collection__slide-hover">
                    <div class="collection__slide-hover-text">
                      Quick Add
                    </div>
                  </div>
                  <div class="collection__options">
                  {% if product.variants.first.inventory_quantity <= 0 %}
                    <div class="sold-out System_12_20">SOLD OUT</div>
                  {% endif %}
                    {% if product.metafields.custom.selling_fast %}
                      <div class="selling-fast System_12_20">SELLING FAST</div>
                    {% endif %}
                    {% if product.metafields.custom.discount_percentage %}
                      <div class="discount-block">-{{ product.metafields.custom.discount_percentage }}%</div>
                    {% endif %}
                  </div>
                </div>
                <div class="collection__slide-discription-wrapper">
                  <div class="collection__slide-discription-wrapper-left">
                    <div class="collection__slide-discription-product_name p2">{{ product.title }}</div>
                  {% if product.metafields.custom.discount_percentage %}
                    <div class="collection__slide-price">
                      <div class="collection__slide-discription-price-red">
                        {{ product.price  | money_without_trailing_zeros }}
                      </div>
                      <div class="collection__slide-discription-old_price">
                        {{ product.compare_at_price  | money_without_trailing_zeros }}
                      </div>
                    </div>
                  {% else %}
                    <div class="collection__slide-discription-price p2">
                      {{ product.price  | money_without_trailing_zeros }}
                    </div>
                  {% endif %}
                  </div>
                  <div class="collection__slide-discription-wrapper-right">
                    <a class="collection__slide-discription-bag" href="{{ product.url }}">
                      <img src="{{ 'Bag.svg' | asset_url }}" alt="Icon Bag" class="collection__slide-discription-img_bag"> {% comment %} чи дрібні іконки також потрібно обгортати? {% endcomment %}
                    </a>
                  </div>
                </div>
              </a> 
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination collection-pagination desktop"></div>
      </div>
    </div>
  </div>
</section>


{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 767px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script>

  function initializeSwiper() {
    const swiper_reviews = new Swiper('.collection', {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 2,
      spaceBetween: 8, 
      allowTouchMove: true,
      pagination: {
        el: '.collection-pagination',
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 4, 
          spaceBetween: 16,
        }
      }
    });
  }


  initializeSwiper();


  document.querySelector('#select-collection').addEventListener('change', function() {
    initializeSwiper();
  });
</script>



{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top_mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom_mobile",
        "default": 0
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      },
      {
        "type": "text",
        "id": "header-title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Collection",
        "category": "Custom sections"
      }
    ]
  }
  {% endschema %}