<link rel="stylesheet" href="{{ 'collection.min.css' | asset_url }}" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<section class="collection-section section-{{ section.id }}">
  <div class="collection_main">
    <div class="container">
      <div class="collection__header">
        <div class="collection__header-title Mobile_H3 mobile">{{ section.settings.header-title }}</div>
        <h3 class="collection__header-title desktop">{{ section.settings.header-title }}</h3>
        <a href="{{ collections[section.settings.collection].url }}" class="p2 collection__header-subtitle">
          View All
        </a>
      </div>
      <div class="collection swiper-container"> 
        <div class="collection__wrapper swiper-wrapper">
          {% for product in collections[section.settings.collection].products %}
            <div class="swiper-slide collection__slide {% if product.variants.first.inventory_quantity <= 0 %}opacity_05{% endif %}">
              <a href="{{ product.url }}" class="collection__slide-link"> <!-- Додано посилання на сторінку продукту -->
                <div class="collection__slide-wrapper">
                  <img class="collection__bg" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                  <div class="collection__slide-hover">
                    <div class="collection__slide-hover-text">
                      Quick Add
                    </div>
                  </div>
                  <div class="collection__options">
                  {% if product.variants.first.inventory_quantity <= 0 %}
                    <div class="sold-out System_12_20">SOLD OUT</div>
                  {% endif %}
                    {% if product.metafields.custom.selling_fast %}
                      <div class="selling-fast System_12_20">SELLING FAST</div>
                    {% endif %}
                    {% if product.metafields.custom.discount_percentage %}
                      <div class="discount-block">-{{ product.metafields.custom.discount_percentage }}%</div>
                    {% endif %}
                  </div>
                </div>
                <div class="collection__slide-discription-wrapper">
                  <div class="collection__slide-discription-wrapper-left">
                    <div class="collection__slide-discription-product_name p2">{{ product.title }}</div>
                  {% if product.metafields.custom.discount_percentage %}
                    <div class="collection__slide-price">
                      <div class="collection__slide-discription-price-red">
                        {{ product.price  | money_without_trailing_zeros }}
                      </div>
                      <div class="collection__slide-discription-old_price">
                        {{ product.compare_at_price  | money_without_trailing_zeros }}
                      </div>
                    </div>
                  {% else %}
                    <div class="collection__slide-discription-price p2">
                      {{ product.price  | money_without_trailing_zeros }}
                    </div>
                  {% endif %}
                  </div>
                  <div class="collection__slide-discription-wrapper-right">
                    <a class="collection__slide-discription-bag" href="{{ product.url }}">
                      <img src="{{ 'Bag.svg' | asset_url }}" alt="Icon Bag" class="collection__slide-discription-img_bag">
                    </a>
                  </div>
                </div>
              </a> 
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination collection-pagination desktop"></div>
      </div>
    </div>
  </div>
</section>




<script>
  // Функція для ініціалізації Swiper
  function initializeSwiper() {
    const swiper_reviews = new Swiper('.collection', {
      direction: 'horizontal',
      loop: true,
      slidesPerView: 2,
      spaceBetween: 8, 
      allowTouchMove: true,
      pagination: {
        el: '.collection-pagination',
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 4, 
          spaceBetween: 16,
        }
      }
    });
  }

  // Ініціалізація Swiper при першому завантаженні сторінки
  initializeSwiper();

  // Додавання обробника події для вибору колекції
  document.querySelector('#select-collection').addEventListener('change', function() {
    // Коли змінюється вибір колекції, перезапускаємо Swiper
    initializeSwiper();
  });
</script>



{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      }
    ],
    "presets": [
      {
        "name": "Collection",
        "category": "Custom sections"
      }
    ]
  }
  {% endschema %}