<link rel="stylesheet" href="{{ 'contact-section.min.css' | asset_url }}" type="text/css" />
   
<section class="section-{{ section.id }}">
    <div class="wrapper container-contact">
        
        {%- for block in section.blocks -%}
            {%- case block.type -%}
            
                {%- when 'text_message' -%}
                <span class="wrapper__title_new">{{ block.settings.text_message }}</span>
 
                {%- when 'contact_info' -%}
                <div class="wrapper__email">
                    <div class="wrapper__email_icon">
                        {{ block.settings.email_icon | image_url: width: 200 | image_tag }}
                    </div>
                    {%- if block.settings.contact_label_1 != blank and block.settings.contact_email_1 != blank -%}
                        <div class="wrapper__email_contact">
                            <span class="wrapper__email_contact-left">{{ block.settings.contact_label_1 }}</span>
                            <a class="wrapper__email_contact-right" href="mailto:{{ block.settings.contact_email_1 }}">
                                {{ block.settings.contact_email_1 }}
                            </a>
                        </div>
                    {%- endif -%}
                
                    {%- if block.settings.contact_label_2 != blank and block.settings.contact_email_2 != blank -%}
                        <div class="wrapper__email_contact">
                            <span class="wrapper__email_contact-left">{{ block.settings.contact_label_2 }}</span>
                            <a class="wrapper__email_contact-right" href="mailto:{{ block.settings.contact_email_2 }}">
                                {{ block.settings.contact_email_2 }}
                            </a>
                        </div>
                    {%- endif -%}
                
                    {%- if block.settings.contact_label_3 != blank and block.settings.contact_email_3 != blank -%}
                        <div class="wrapper__email_contact">
                            <span class="wrapper__email_contact-left">{{ block.settings.contact_label_3 }}</span>
                            <a class="wrapper__email_contact-right" href="mailto:{{ block.settings.contact_email_3 }}">
                                {{ block.settings.contact_email_3 }}
                            </a>
                        </div>
                    {%- endif -%}
                
                    {%- if block.settings.contact_label_4 != blank and block.settings.contact_email_4 != blank -%}
                        <div class="wrapper__email_contact">
                            <span class="wrapper__email_contact-left">{{ block.settings.contact_label_4 }}</span>
                            <a class="wrapper__email_contact-right" href="mailto:{{ block.settings.contact_email_4 }}">
                                {{ block.settings.contact_email_4 }}
                            </a>
                        </div>
                    {%- endif -%}
                </div>

                {%- when 'address' -%} 
                <address class="wrapper__email_address">
                    {{ block.settings.address_icon | image_url: width: 200 | image_tag }}
                    <div class="wrapper__email_address-text">
                        {%- if block.settings.address_line != blank -%}
                            <span>{{ block.settings.address_line }}</span>
                        {%- endif -%}
                    </div>
                </address>

            {%- endcase -%}
        {%- endfor -%}
        
    </div>
</section>

{%- style -%}
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  
    @media screen and (min-width: 767px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

{% schema %}
{
    "name": "Contact Section",
    "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 80
          },
          {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 80
          },
          {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 40
          },
          {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 0
        }
    ],
    "blocks": [
        {
            "type": "text_message",
            "name": "Text Message",
            "settings": [
                {
                    "type": "text",
                    "id": "text_message",
                    "label": "Text Message"
                }
            ]
        },
        {
            "type": "contact_info",
            "name": "Contact Information",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "email_icon",
                    "label": "Icon for e-Mail"
                },
                {
                    "type": "text",
                    "id": "contact_label_1",
                    "label": "Contact Label 1"
                },
                {
                    "type": "text",
                    "id": "contact_email_1",
                    "label": "Contact Email 1"
                },
                {
                    "type": "text",
                    "id": "contact_label_2",
                    "label": "Contact Label 2"
                },
                {
                    "type": "text",
                    "id": "contact_email_2",
                    "label": "Contact Email 2"
                },
                {
                    "type": "text",
                    "id": "contact_label_3",
                    "label": "Contact Label 3"
                },
                {
                    "type": "text",
                    "id": "contact_email_3",
                    "label": "Contact Email 3"
                },
                {
                    "type": "text",
                    "id": "contact_label_4",
                    "label": "Contact Label 4"
                },
                {
                    "type": "text",
                    "id": "contact_email_4",
                    "label": "Contact Email 4"
                }
            ]
        },
        {
            "type": "address",
            "name": "Address",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "address_icon",
                    "label": "Icon for marker"
                },
                {
                    "type": "richtext",
                    "id": "address_line",
                    "label": "Address Line"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Contact Section",
            "category": "Custom sections"
        }
    ]
}
{% endschema %}

