<link rel="stylesheet" href="{{ 'filter-panel.min.css' | asset_url }}" type="text/css" />

<section class="filter-section">

  <div class="filter-sorting">
    <input type="checkbox" id="toggle" class="sort-toggle">
    <label class="sort-btn p2" for="toggle">Filter and Sort By</label>
    <div class="sort-window">
        <form class="sorting__form_window" method="get" action="{{ collection.url }}">
          <div class="sorting__options_window">
            {%- for option in collection.sort_options -%}
              <button type="submit" name="sort_by" value="{{ option.value }}" 
                      class="option p2 {% if option.value == collection.sort_by %}active{% endif %}">
                {%- case option.value -%}
                  {%- when 'title-ascending' -%}Title, low to high
                  {%- when 'title-descending' -%}Title, high to low 
                  {%- when 'price-ascending' -%}Price, low to high
                  {%- when 'price-descending' -%}Price, high to low 
                  {%- when 'created-ascending' -%}Created, low to high
                  {%- when 'created-descending' -%}Created, high to low 
                {%- else -%}{{ option.value }}
                {%- endcase -%}
              </button>
            {%- endfor -%}
          </div>
        </form>
    </div>
    <div class="filter-sorting__wrapper">
      <h4 class="p2 sorting__title">Sort By</h4>
      <form class="sorting__form" method="get" action="{{ collection.url }}">
        <select name="sort_by" onchange="this.form.submit()">
          {%- for option in collection.sort_options -%}
            <option 
              class="option p2" 
              value="{{ option.value }}" 
              {% if option.value == collection.sort_by %}selected{% endif %}>
              {%- case option.value -%}
                {%- when 'price-ascending' -%}Price, low to high
                {%- when 'price-descending' -%}Price, high to low
                {%- when 'title-ascending' -%}Title, low to high
                {%- when 'title-descending' -%}Title, high to low
                {%- when 'created-ascending' -%}Created, low to high
                {%- when 'created-descending' -%}Created, high to low
                {%- else -%}{{ option.value }}
              {%- endcase -%}
            </option>
          {%- endfor -%}
        </select>
      </form>

    </div>
  </div>
 

  <div class="filter__wrapper">
    {%- for product in collection.products -%}
    <div class="filter__slide {% if product.variants.first.inventory_quantity <= 0 %}opacity_05{% endif %}">
      <a href="{{ product.url }}" class="filter__slide-link">
        <div class="filter__slide-wrapper">
          <img class="filter__bg" src="{{ product.featured_image | img_url: '500x500' }}" alt="{{ product.title }}">
          <div class="filter__slide-hover">
            <div class="filter__slide-hover-text">
              Quick Add
            </div>
          </div>
          <div class="filter__options">
            {%- if product.variants.first.inventory_quantity <= 0 -%}
              <div class="sold-out System_12_20">SOLD OUT</div>
            {%- endif -%}
            {%- if product.metafields.custom.selling_fast -%}
              <div class="selling-fast System_12_20">SELLING FAST</div>
            {%- endif -%}
            {%- if product.metafields.custom.discount_percentage -%}
              <div class="discount-block">-{{ product.metafields.custom.discount_percentage }}%</div>
            {%- endif -%}
          </div>
        </div>
        <div class="filter__slide-discription-wrapper">
          <div class="filter__slide-discription-wrapper-left">
            <div class="filter__slide-discription-product_name p2">{{ product.title }}</div>
            {%- if product.metafields.custom.discount_percentage -%}
              <div class="filter__slide-price">
                <div class="filter__slide-discription-price-red">
                  {{ product.price | money_without_trailing_zeros }}
                </div>
                <div class="filter__slide-discription-old_price">
                  {{ product.compare_at_price | money_without_trailing_zeros }}
                </div>
              </div>
            {%- else -%}
              <div class="filter__slide-discription-price p2">
                {{ product.price | money_without_trailing_zeros }}
              </div>
            {%- endif -%}
          </div>
          <div class="filter__slide-discription-wrapper-right">
            <a class="filter__slide-discription-bag" href="{{ product.url }}">
              <img src="{{ 'Bag.svg' | asset_url }}" alt="Icon Bag" class="filter__slide-discription-img_bag">
            </a>
          </div>
        </div>
      </a>
    </div>
  {%- endfor -%}
</div>

</section>

<script>



</script>

{% schema %}
{
  "name": "Filter Panel",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "Filter Panel",
      "category": "custom section"
    }
  ]
}
{% endschema %}
