<link rel="stylesheet" href="{{ 'footer-new.min.css' | asset_url }}" type="text/css" />

<section class="section-{{ section.id }}">
    <footer class="footer">
        <div class="container">
            <div class="footer__columns">
                {% for block in section.blocks %}
                    <div class="footer__column">
                        <div class="footer__column-title p2">{{ block.settings.column_title }}</div>
                        {% if block.settings.column_type == 'regular' %}
                            <p class="footer__column-item p2">{{ block.settings.text_item_1 }}</p>
                            <p class="footer__column-item p2">{{ block.settings.text_item_2 }}</p>
                            <p class="footer__column-item p2">{{ block.settings.text_item_3 }}</p>
                            <p class="footer__column-item p2">{{ block.settings.text_item_4 }}</p>
                        {% elsif block.settings.column_type == 'email' %}
                            <form action="#" method="post" class="footer__column_form">
                                <input type="email" class="email-input" placeholder="{{ block.settings.text_for_email }}">
                            </form>
                            <div class="footer__column-icons">
                            {% if block.settings.column_icon_1 != blank %}<img class="footer__column-icon" src="{{ block.settings.column_icon_1 | img_url: 'master' }}" alt="">{% endif %}
                            {% if block.settings.column_icon_2 != blank %}<img class="footer__column-icon" src="{{ block.settings.column_icon_2 | img_url: 'master' }}" alt="">{% endif %}
                            {% if block.settings.column_icon_3 != blank %}<img class="footer__column-icon" src="{{ block.settings.column_icon_3 | img_url: 'master' }}" alt="">{% endif %}
                            {% if block.settings.column_icon_4 != blank %}<img class="footer__column-icon" src="{{ block.settings.column_icon_4 | img_url: 'master' }}" alt="">{% endif %}
                            {% if block.settings.column_icon_5 != blank %}<img class="footer__column-icon" src="{{ block.settings.column_icon_5 | img_url: 'master' }}" alt="">{% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="footer__down">
                <img class="footer__down_logo" src="{{ section.settings.logo | img_url: 'master' }}" alt="">
                <div class="footer__down_text p2">{{ section.settings.footer_down_text }}</div>
            </div>
            <div class="footer__cubes">
                <div class="footer__cube_left"></div>
                <div class="footer__cube_right"></div>
            </div>
        </div>
    </footer>
</section>


{% schema %}
    {
      "name": "footer-new",
      "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "footer_down_text",
            "label": "Footer Text"
        }
      ],
      "blocks": [
        {
          "type": "column",
          "name": "Column",
          "settings": [
            {
              "type": "text",
              "id": "column_title",
              "label": "Column Title"
            },
            {
              "type": "radio",
              "id": "column_type",
              "label": "Choose Column Type",
              "options": [
                {
                  "value": "regular",
                  "label": "Regular Column"
                },
                {
                  "value": "email",
                  "label": "Email Column"
                }
              ],
              "default": "regular"
            },
            {
              "type": "text",
              "id": "text_for_email",
              "label": "Text for e-Mail"
            },
            {
              "type": "text",
              "id": "text_item_1",
              "label": "Text Item 1"
            },
            {
              "type": "text",
              "id": "text_item_2",
              "label": "Text Item 2"
            },
            {
              "type": "text",
              "id": "text_item_3",
              "label": "Text Item 3"
            },
            {
              "type": "text",
              "id": "text_item_4",
              "label": "Text Item 4"
            },
            {
              "type": "image_picker",
              "id": "column_icon_1",
              "label": "Column Icon 1"
            },
            {
              "type": "image_picker",
              "id": "column_icon_2",
              "label": "Column Icon 2"
            },
            {
              "type": "image_picker",
              "id": "column_icon_3",
              "label": "Column Icon 3"
            },
            {
              "type": "image_picker",
              "id": "column_icon_4",
              "label": "Column Icon 4"
            },
            {
              "type": "image_picker",
              "id": "column_icon_5",
              "label": "Column Icon 5"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "footer-new",
          "category": "Custom sections"
        }
      ]
    }
    {% endschema %}
     