<link rel="stylesheet" href="{{ 'footer-new.min.css' | asset_url }}" type="text/css" />

<section class="section-{{ section.id }}">
    <footer class="footer">
        <div class="container-footer"> 
            <div class="footer__columns">
                {%- for block in section.blocks -%}
                    <ul class="footer__column">
                        <li class="footer__column-title p2">{{ block.settings.column_title }}</li>
                        {%- if block.settings.column_type == 'links' -%}
                          <a href="{{ block.settings.link_item_1 }}" class="footer__column-item p2">{{ block.settings.link_title_1 }}</a>
                          <a href="{{ block.settings.link_item_2 }}" class="footer__column-item p2">{{ block.settings.link_title_2 }}</a>
                          <a href="{{ block.settings.link_item_3 }}" class="footer__column-item p2">{{ block.settings.link_title_3 }}</a>
                          <a href="{{ block.settings.link_item_4 }}" class="footer__column-item p2">{{ block.settings.link_title_4 }}</a>
                        {%- elsif block.settings.column_type == 'regular' -%}
                          <li class="footer__column-item p2">{{ block.settings.text_item_1 }}</li>
                          <li class="footer__column-item p2">{{ block.settings.text_item_2 }}</li>
                          <li class="footer__column-item p2">{{ block.settings.text_item_3 }}</li>
                          <li class="footer__column-item p2">{{ block.settings.text_item_4 }}</li>
                        {%- elsif block.settings.column_type == 'email' -%}
                            <form action="#" method="post" class="footer__column_form" role="form">
                                <input type="email" class="email-input" placeholder="{{ block.settings.text_for_email }}">
                                <svg class="email__bird" viewBox="0 0 10 6">
                                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                                </svg>
                            </form>
                            <div class="footer__column-icons">
                            {%- if block.settings.column_icon_1 != blank -%}<a href="{{ block.settings.link_icon_1 }}"><img class="footer__column-icon" src="{{ block.settings.column_icon_1 | img_url: 'master' }}" alt=""></a>{%- endif -%}
                            {%- if block.settings.column_icon_2 != blank -%}<a href="{{ block.settings.link_icon_2 }}"><img class="footer__column-icon" src="{{ block.settings.column_icon_2 | img_url: 'master' }}" alt=""></a>{%- endif -%}
                            {%- if block.settings.column_icon_3 != blank -%}<a href="{{ block.settings.link_icon_3 }}"><img class="footer__column-icon" src="{{ block.settings.column_icon_3 | img_url: 'master' }}" alt=""></a>{%- endif -%}
                            {%- if block.settings.column_icon_4 != blank -%}<a href="{{ block.settings.link_icon_4 }}"><img class="footer__column-icon" src="{{ block.settings.column_icon_4 | img_url: 'master' }}" alt=""></a>{%- endif -%}
                            {%- if block.settings.column_icon_5 != blank -%}<a href="{{ block.settings.link_icon_5 }}"><img class="footer__column-icon" src="{{ block.settings.column_icon_5 | img_url: 'master' }}" alt=""></a>{%- endif -%}
                            </div>
                        {%- endif -%}
                    </ul> 
                {%- endfor -%}
            </div>
            <div class="footer__down">
              <picture class="footer__down_logo">
                <source
                  media="(max-width: 766.99px)"
                  srcset="
                    {{ section.settings.logo_mobile | img_url: '200x' }} 200w,
                    {{ section.settings.logo_mobile | img_url: '400x' }} 400w"
                  sizes="100vw">
                
                <source
                  media="(min-width: 767px)"
                  srcset="
                    {{ section.settings.logo | img_url: '200x' }} 200w,
                    {{ section.settings.logo | img_url: '400x' }} 400w"
                  sizes="200px">
                
                <img 
                  src="{{ section.settings.logo | img_url: '200x' }}" 
                  alt="Logo" 
                  class="footer__logo-img">
              </picture>
              
                <div class="p2 footer__down_text p2__footer">{{ section.settings.footer_down_text }}</div>
            </div>
            <svg class="footer__cube_left" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
              <!-- Коло -->
              <circle cx="42.5" cy="47" r="2" fill="currentColor" />
              <!-- Квадрат з обведенням -->
              <rect 
                x="63" 
                y="3" 
                width="100" 
                height="100" 
                stroke="currentColor" 
                fill="none"
                transform="rotate(45)" 
                stroke-width="0.5" />
            </svg>
            <svg class="footer__cube_right" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
              <!-- Коло -->
              <circle class="footer__cube_right-circle" cx="260" cy="40" r="2" fill="currentColor" />
              <!-- Квадрат з обведенням -->
              <rect 
                class="footer__cube_right-rect"
                x="260" 
                y="40" 
                width="100" 
                height="100" 
                stroke="currentColor" 
                fill="none"
                stroke-width="0.5" />
            </svg>
        </div>
    </footer>
</section>
 
{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 767px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
    {
      "name": "footer-new",
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 60
          },
          {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
          },
          {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 40
          },
          {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 0
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo_mobile",
            "label": "Logo Mobile"
        }, 
        {
            "type": "text",
            "id": "footer_down_text",
            "label": "Footer Text"
        }
      ],
      "blocks": [
        {
          "type": "column",
          "name": "Column",
          "settings": [
            {
              "type": "text",
              "id": "column_title",
              "label": "Column Title"
            },
            {
              "type": "radio",
              "id": "column_type",
              "label": "Choose Column Type",
              "options": [
                {
                  "value": "links",
                  "label": "Links Column"
                },
                {
                  "value": "regular",
                  "label": "Regular Column"
                },
                {
                  "value": "email",
                  "label": "Email Column"
                }
              ],
              "default": "regular"
            },
            {
              "type": "text",
              "id": "text_for_email",
              "label": "Text for e-Mail"
            },
            {
              "type": "text",
              "id": "link_item_1",
              "label": "URL for Item 1"
            },
            {
              "type": "text",
              "id": "link_item_2",
              "label": "URL for Item 2"
            },
            {
              "type": "text",
              "id": "link_item_3",
              "label": "URL for Item 3"
            },
            {
              "type": "text",
              "id": "link_item_4",
              "label": "URL for Item 4"
            },
            {
              "type": "text",
              "id": "link_title_1",
              "label": "Title for Item 1"
            },
            {
              "type": "text",
              "id": "link_title_2",
              "label": "Title for Item 2"
            },
            {
              "type": "text",
              "id": "link_title_3",
              "label": "Title for Item 3"
            },
            {
              "type": "text",
              "id": "link_title_4",
              "label": "Title for Item 4"
            },
            {
              "type": "text",
              "id": "text_item_1",
              "label": "Text Item 1"
            },
            {
              "type": "text",
              "id": "text_item_2",
              "label": "Text Item 2"
            },
            {
              "type": "text",
              "id": "text_item_3",
              "label": "Text Item 3"
            },
            {
              "type": "text",
              "id": "text_item_4",
              "label": "Text Item 4"
            },
            {
              "type": "image_picker",
              "id": "column_icon_1",
              "label": "Column Icon 1"
            },
            {
              "type": "url",
              "id": "link_icon_1",
              "label": "Link_Icon 1"
            },
            {
              "type": "image_picker",
              "id": "column_icon_2",
              "label": "Column Icon 2"
            },
            {
              "type": "url",
              "id": "link_icon_2",
              "label": "Link_Icon 2"
            },
            {
              "type": "image_picker",
              "id": "column_icon_3",
              "label": "Column Icon 3"
            },
            {
              "type": "url",
              "id": "link_icon_3",
              "label": "Link_Icon 3"
            },
            {
              "type": "image_picker",
              "id": "column_icon_4",
              "label": "Column Icon 4"
            },
            {
              "type": "url",
              "id": "link_icon_4",
              "label": "Link_Icon 4"
            },
            {
              "type": "image_picker",
              "id": "column_icon_5",
              "label": "Column Icon 5"
            },
            {
              "type": "url",
              "id": "link_icon_5",
              "label": "Link_Icon 5"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "footer-new",
          "category": "Custom sections"
        }
      ]
    }
    {% endschema %}
      