<link rel="stylesheet" href="{{ 'header-navigation.min.css' | asset_url }}" type="text/css" />

<section class="header-navigation section-{{ section.id }}">
    <div class="container">
        <div class="navigation">

            <div class="navigation__logo_background">
                <a href="{{ section.settings.logo_link }}" target="_self" >
                    <img class="navigation__logo_img" src="{{ section.settings.logo_bg | img_url: 'master' }}">
                </a>
            </div>
            <div class="navigation__logo">
                <a href="{{ section.settings.logo_link }}" target="_self" >
                    <img class="navigation__logo_img" src="{{ section.settings.logo | img_url: 'master' }}">
                </a>
            </div>

 
            <div class="navigation_left">
                {% for block in section.blocks %}
                    {% if block.type == 'text' %}
                        <a href="{{ block.settings.text_link }}" target="_self" >
                            <div class="navigation_left__point p2 desktop">{{ block.settings.point }}</div>
                        </a>
                    {% elsif block.type == 'list' %}
                        <div class="dropdown desktop">
                            <input type="checkbox" class="dropdown__checkbox" id="dropdownToggle-{{ block.id }}">
                            <label for="dropdownToggle-{{ block.id }}" class="dropdown__label p2">{{ block.settings.list_name }}</label>
                            <ul class="dropdown__list">
                                {% if block.settings.list_item_1 != blank %}<li><a href="{{ block.settings.list_item_1_link }}">{{ block.settings.list_item_1 }}</a></li>{% endif %}
                                {% if block.settings.list_item_2 != blank %}<li><a href="{{ block.settings.list_item_2_link }}">{{ block.settings.list_item_2 }}</a></li>{% endif %}
                                {% if block.settings.list_item_3 != blank %}<li><a href="{{ block.settings.list_item_3_link }}">{{ block.settings.list_item_3 }}</a></li>{% endif %}
                                {% if block.settings.list_item_4 != blank %}<li><a href="{{ block.settings.list_item_4_link }}">{{ block.settings.list_item_4 }}</a></li>{% endif %}
                                {% if block.settings.list_item_5 != blank %}<li><a href="{{ block.settings.list_item_5_link }}">{{ block.settings.list_item_5 }}</a></li>{% endif %}
                                {% if block.settings.list_item_6 != blank %}<li><a href="{{ block.settings.list_item_6_link }}">{{ block.settings.list_item_6 }}</a></li>{% endif %}
                                {% if block.settings.list_item_7 != blank %}<li><a href="{{ block.settings.list_item_7_link }}">{{ block.settings.list_item_7 }}</a></li>{% endif %}
                            </ul>
                        </div>
                    {% elsif block.type == 'image' %}
                        <div class="navigation_left_icon mobile">
                            <a href="{{ block.settings.left__icon_link }}" target="_self" >
                                <img class="navigation_left_icon_img" src="{{ block.settings.icon__mobile | img_url: 'master' }}" alt="Image">
                            </a>
                        </div>
                    {% elsif block.type == 'burger' %}
                        <div class="navigation_left_icon mobile">
                            <img class="navigation_left_icon_img burger-toggle" src="{{ block.settings.icon__burger | img_url: 'master' }}" alt="Burger Menu Icon">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


            <div class="navigation_right">
                {% for block in section.blocks %}
                    {% if block.type == 'image_picker' %}
                        <a href="{{ block.settings.right__icon_link }}" class="navigation_right__point {% if block.settings.hide_on_mobile %} desktop{% endif %}">
                            <img class="navigation_right__point_img" src="{{ block.settings.icon | img_url: 'master' }}" alt="Icon">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div id="burger-menu" class="burger-menu">
        <button class="burger-menu__close">&times;</button>
        <div class="burger-menu__content">
            <p>Burger menu</p>
        </div>
    </div>
</section>





<script>

document.addEventListener('click', function(event) {
    const burgerButton = document.querySelector('.burger-toggle'); 
    const burgerMenu = document.getElementById('burger-menu'); 
    const burgerCloseButton = document.querySelector('.burger-menu__close'); 

    
    const isMenuOpen = burgerMenu && burgerMenu.classList.contains('active');

    
    if (isMenuOpen) {
        
        if (!isClickInside(event, burgerCloseButton)) {
            return; 
        }
        closeBurgerMenu(); 
    } else {
        
        if (isClickInside(event, burgerButton)) {
            toggleBurgerMenu(); 
        }
    }
});


function isClickInside(event, element) {
    const rect = element.getBoundingClientRect();
    return (
        event.clientX >= rect.left &&
        event.clientX <= rect.right &&
        event.clientY >= rect.top &&
        event.clientY <= rect.bottom
    );
}

function toggleBurgerMenu() {
    const burgerMenu = document.getElementById('burger-menu'); 
    if (burgerMenu) {
        burgerMenu.classList.toggle('active'); 
        console.log("Menu toggled");
    }
}

function closeBurgerMenu() {
    const burgerMenu = document.getElementById('burger-menu'); 
    if (burgerMenu && burgerMenu.classList.contains('active')) {
        burgerMenu.classList.remove('active'); 
        console.log("Menu closed");
    }
}







</script>




{%- style -%}
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  
    @media screen and (min-width: 767px) {
      .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}


  





{% schema %}
    {
      "name": "header-navigation",
      "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Image Logo"
        },
        {
          "type": "image_picker",
          "id": "logo_bg",
          "label": "Hidden Logo"
        },
        {
          "type": "url",
          "id": "logo_link",
          "label": "Logo Link"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top_mobile",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom_mobile",
            "default": 0
        }

        ],
      "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "point",
            "label": "Text Point"
          },
          {
            "type": "url",
            "id": "text_link",
            "label": "Text Link"
          }
        ]
      },
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type": "text",
            "id": "list_name",
            "label": "Text List"
          },
          {
            "type": "text",
            "id": "list_item_1",
            "label": "List Item 1"
          },
          {
            "type": "url",
            "id": "list_item_1_link",
            "label": "Item 1 Link"
          },
          {
            "type": "text",
            "id": "list_item_2",
            "label": "List Item 2"
          },
          {
            "type": "url",
            "id": "list_item_2_link",
            "label": "Item 2 Link"
          },
          {
            "type": "text",
            "id": "list_item_3",
            "label": "List Item 3"
          },
          {
            "type": "url",
            "id": "list_item_3_link",
            "label": "Item 3 Link"
          },
          {
            "type": "text",
            "id": "list_item_4",
            "label": "List Item 4"
          },
          {
            "type": "url",
            "id": "list_item_4_link",
            "label": "Item 4 Link"
          },
          {
            "type": "text",
            "id": "list_item_5",
            "label": "List Item 5"
          },
          {
            "type": "url",
            "id": "list_item_5_link",
            "label": "Item 5 Link"
          },
          {
            "type": "text",
            "id": "list_item_6",
            "label": "List Item 6"
          },
          {
            "type": "url",
            "id": "list_item_6_link",
            "label": "Item 6 Link"
          },
          {
            "type": "text",
            "id": "list_item_7",
            "label": "List Item 7"
          },
          {
            "type": "url",
            "id": "list_item_7_link",
            "label": "Item 7 Link"
          }
        ]
      },
      {
        "type": "image_picker",
        "name": "Right Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Right Icon"
          },
          {
            "type": "checkbox",
            "id": "hide_on_mobile",
            "label": "Hide on mobile"
          },
          {
            "type": "url",
            "id": "right__icon_link",
            "label": "Link for this icon"
          }
          
        ]
      },
      {
      "type": "image",
      "name": "Left Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon__mobile",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "left__icon_link", 
          "label": "Link for this icon"
        }
      ]
    }
    ,
      {
      "type": "burger",
      "name": "Burger",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon__burger",
          "label": "Burger"
        }
      ]
    }
    ],
    "presets": [
      {
        "name": "header-navigation",
        "category": "Custom sections"
      }
    ]
  }
  {% endschema %} 