<link rel="stylesheet" href="{{ 'header-navigation.min.css' | asset_url }}" type="text/css" />

<section class="header-navigation section-{{ section.id }}">
  <header class="container"> 
    <div class="navigation__logo_background">
      <a href="{{ routes.root_url }}">
        {{ section.settings.logo_bg | image_url: width: 264 | image_tag: 
          width: section.settings.logo_bg.width, 
          height: section.settings.logo_bg.height, 
          class: 'navigation__logo_img', 
          alt: 'Logo background', 
          sizes: '100vw', 
          widths: '264' }}
      </a>
    </div>
    <div class="navigation__logo">
      <a href="{{ routes.root_url }}"> 
        {{ section.settings.logo | image_url: width: 264 | image_tag: 
          width: section.settings.logo.width, 
          height: section.settings.logo.height, 
          class: 'navigation__logo_img', 
          alt: 'Logo', 
          sizes: '100vw', 
          widths: '264' }}
      </a>
    </div>
    <nav class="navigation" role="navigation">
      <ul class="navigation_left">
        {%- for link in section.settings.main_menu.links -%} 
          {%- if link.links.size == 0 -%}
            <li class="navigation_left__point p2 desktop">
              <a href="{{ link.url }}" class="p2">{{ link.title }}</a>
            </li>
          {%- endif -%}
            {%- if link.links.size > 0 -%}
              <li class="dropdown desktop">
                <details id="details">
                  <summary class="dropdown__label p2">
                    {{ link.title }}
                    <svg class="dropdown__bird" viewBox="0 0 10 6">
                      <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                    </svg>
                  </summary>
                  <ul class="dropdown__list">
                    {%- for sublink in link.links -%}
                      <li>
                        <a href="{{ sublink.url }}" class="p2">{{ sublink.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </li>

            {%- endif -%}
        {%- endfor -%}
        <li class="navigation_left_icon mobile" role="none">
          <span class="navigation_left_icon_img burger-toggle">
            {{ 'Burger.svg' | inline_asset_content }}
          </span>
        </li>
        <li class="navigation_left_icon mobile">
          <a href="{{ routes.search_url }}" role="menuitem">
            <span class="navigation_left_icon_img">
              {{ 'Search.svg' | inline_asset_content }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="navigation_right">
        <li class="navigation_right__point desktop">
          <a href="{{ routes.search_url }}" role="menuitem">
          <span class="navigation_right__point_img">
            {{ 'Search.svg' | inline_asset_content }}
          </span>
          </a>
        </li>
        <li class="navigation_right__point desktop">
          <a href="{{ routes.account_url }}" role="menuitem">
          <span class="navigation_right__point_img">
            {{ 'User.svg' | inline_asset_content }}
          </span>
          </a>
        </li>
        <li class="navigation_right__point">
          <a href="{{ routes.cart_url }}" role="menuitem">
          <span class="navigation_right__point_img">
            {{ 'Bag.svg' | inline_asset_content }}
          </span>
          </a>
        </li>
      </ul>
    </nav>
    <nav id="burger-menu" class="burger-menu" aria-hidden="true">
      <button class="burger-menu__close" aria-label="Close menu">&times;</button>
      <ul class="burger-menu__list">
        {%- for link in section.settings.main_menu.links -%} 
          {%- if link.links.size == 0 -%}
            <li class="navigation_left__point p2 mobile">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {%- endif -%}
          {%- if link.links.size > 0 -%}
            <li class="dropdown mobile">
              <input type="checkbox" class="dropdown__checkbox_mobile" id="dropdownToggle-BundlesMobile">
              <label for="dropdownToggle-BundlesMobile" class="dropdown__label_mobile p2">{{ link.title }}</label>
              <ul class="dropdown__list_mobile">
                {%- for sublink in link.links -%}
                    <li>
                      <a href="{{ sublink.url }}" class="p2">{{ sublink.title }}</a>
                    </li>
                {%- endfor -%}
              </ul>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  </header>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const burgerButton = document.querySelector('.burger-toggle'); 
    const burgerMenu = document.getElementById('burger-menu'); 
    const burgerCloseButton = document.querySelector('.burger-menu__close'); 
    
    if (burgerButton) {
        burgerButton.addEventListener('click', function () {
            toggleBurgerMenu();
        });
    }

    if (burgerCloseButton) {
        burgerCloseButton.addEventListener('click', function () {
          toggleBurgerMenu();
        });
    }

    function toggleBurgerMenu() {
      const body = document.body;
      if (burgerMenu) {
          burgerMenu.classList.toggle('active'); 
          body.classList.toggle('no-scroll');
        }
      }
    const detailsElement = document.getElementById('details');

    if (detailsElement) {
      document.addEventListener('click', (event) => {
        if (detailsElement.hasAttribute('open')) {
          if (!detailsElement.contains(event.target)) {
            detailsElement.removeAttribute('open');
          }
        }
      });
    }
  });
</script>
  
{%- schema -%}
    {
      "name": "header-navigation",
      "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Image Logo"
        },
        {
          "type": "image_picker",
          "id": "logo_bg",
          "label": "Hidden Logo"
        },
        {
          "type": "link_list",
          "id": "main_menu",
          "label": "Menu"
        }
      ],
    "presets": [
      {
        "name": "header-navigation",
        "category": "Custom sections"
      }
    ]
  }
  {%- endschema -%} 